<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confetti On Button Click</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style1.css" />
  </head>
  <body>
    <div class="container">
      <canvas id="canvas">Canvas is not supported in your browser</canvas>
      <span class="button2">
        <div class="image-container">
          <img src="1.png" alt="1.png">
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolorum tenetur voluptatum vel omnis nulla, libero numquam possimus consectetur sed amet aliquam consequatur doloremque suscipit nostrum distinctio, ratione modi soluta.</p>
      </span>

      <span class="button3">
        <div class="image-container">
        </div>
        <a href="load.html">click to back head site</a>
      </span>
    </div>
    <button class="button1" id="display-confetti">Click Me!</button>
    <!-- Script -->
    <script src="main1.js"></script>
  </body>
</html>
